<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/insertdata.css') }}">
</head>
<body>
<div id="wrapper">
    <div class="main">
        <form class="form-horizontal" id="parsefileform" action="/parsefile" method="post">
            <div class="form-group">
                <div class="col-2 col-sm-7">
                    <label class="form-label" for="rolesfile">Users csv file</label>
                </div>
                <div class="col-5 col-sm-7">
                    <input class="form-input" type="file" id="usersfile" name="usersfile">
                </div>
            </div>
            <div class="form-group">
                <div class="col-2 col-sm-7">
                    <label class="form-label" for="rolesfile">Roles csv file</label>
                </div>
                <div class="col-5 col-sm-7">
                    <input class="form-input" type="file" id="rolesfile" name="rolesfile">
                </div>
            </div>
            <div id="sbmt-btn" class="form-group">
                <input id="sbmt-btn" type="submit" class="btn btn-primary btn-lg" value="Create DB">
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename= 'js/parsefile.js') }}" crossorigin="anonymous"></script>
</body>
</html>